[submodule "vk-footboller-client"]
	path = vk-footboller-client
	url = https://github.com/rootree/vk-footboller-client.git
[submodule "vk-footboller-preloader"]
	path = vk-footboller-preloader
	url = https://github.com/rootree/vk-footboller-preloader.git
[submodule "vk-footboller-content-system"]
	path = vk-footboller-content-system
	url = https://github.com/rootree/vk-footboller-content-system.git
[submodule "vk-footboller-server"]
	path = vk-footboller-server
	url = https://github.com/rootree/vk-footboller-server.git
